// Flex Grid
.grid {
  @include grid-generator($grid);
}

[role="dropdown"] {
	display: none;
}

.unstyle {
	@extend %unstyle-list;
}

.container {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}