---
layout: page
title: Blog
order: 3
---

<ja-paginator>
  <ul class="grid unstyle">
    {% assign group = 1 %}
    {% assign page = site.pagination %}
    {% for post in site.posts %}
      {% if forloop.index > page %}
        {% assign group = group | plus: 1 %}
        {% assign page = page | plus: site.pagination %}
      {% endif %}
      <li ng-show="current == {{group}}">
        <h2 class="heading--l"><a ui-sref="page({path: '{{post.url}}' })">{{post.title}}</a></h2>
  			<p>{{post.excerpt}}</p>
      </li>
      {% assign length = forloop.length%}
    {% endfor %}
  </ul>
  <div class="group">
      <button ng-click="prevPage()" ng-disabled="prevDisabled">Previous</button>
      <button ng-repeat="page in pageIndex({{group}})" ng-class="{'is-current': current == page}" ng-click="pageTo(page)">[[page]]</button>
      <button ng-click="nextPage()" ng-disabled="nextDisabled">Next</button>
  </div>
  <script ng-init="pagination = {{site.pagination}}; length = {{length}}; pageMax = {{group}}"></script>
</ja-paginator>